body{
    font-family: "Inter", sans-serif;
    overflow: hidden;
}
form{
    position: absolute;
    transform: translate(60%, 10%);
    transition: transform 0.5s ease;

    min-height: 500px;
    background-color: rgb(85, 39, 238);
    width: 650px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-active{
    transform: translate(300%, 10%);
}


.title{
    color: white;
    font-size: 48px;
}
.title1{
    color: white;
    font-size: 28px;
}

.text{
    color: white;
}

.star{
    color: red;
}

.submit{
    background-color: white;
    color: rgb(56, 58, 206);
    border: 3px solid white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 105px;
    font-size: 20px;
}

.toggle-form{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}